.superInput {
    height: 21px;
    margin: 10px;
    background: rgba(164, 164, 164, 0.7);
    outline: none;
    border-radius: 15px;
    border: 1px solid rgba(167, 255, 111, 0.68);
}

.errorInput {
    border: 1px solid rgba(255, 113, 113, 0.68);
    background: rgba(164, 164, 164, 0.7);
    outline: none;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

.errorInput:focus {
    border: 1px solid rgba(167, 255, 111, 0.68);
}

.error {
    color: #9f0000;
    height: 21px;
    border-radius: 5px;
    background-color: rgba(255, 140, 140, 0.51);
    margin-left: 10px;
}