.box {
    display: flex;
    align-items: flex-start;
}

.input {
    margin: 10px;
}
.input:focus{
    outline: none;
    border: 2px solid #00911b;
}

.error {
    height: 21px;
    color: darkred;
    margin-left: 10px;
}
.errorInput {
    margin: 10px;
    border: 2px solid red;
    outline: none;
}

.button{
    margin: 10px;
    width: 60px;
    outline: none;
}
.count {
    margin: 10px;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}